* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../images/space.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Ensures the background stays in place */
    /*min-height: 100vh;*/ /* Ensures it covers at least the full viewport height */
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* Make the canvas cover the whole screen */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.container {
    position: relative;
    z-index: 1;
    padding: 2rem;
}

.star-wars-text {
    text-align: center;
    font-family: sans-serif; /* Use the Star Jedi font */
    font-size: 6rem; /* Adjust size as needed */
    text-transform: uppercase; /* Make text uppercase */
    color: transparent; /* Make text transparent */
    -webkit-text-stroke: 2px #d5c907; /* Solid yellow outline */
}

.inclined-text {
    text-align: center;
    font-size: 3rem;
    color: #d5c907;
    font-weight: bold;
    transform: perspective(300px) rotateX(45deg);
}